@model GarcomAnotacoes.Models.Pedido;

<section class="container-fluid">
    <div class="row">
        <div class="col-5">
            <form asp-controller="Pedido" asp-action="CadastrarPedido" asp-antiforgery="true" method="post">
                <div class="card">
                    <div class="card-header text-center text-white text-uppercase bg-primary">
                        <h3 class="m-0"> Anotações  </h3>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <input type="text" asp-for="NomeDocliente" class="form-control" placeholder="Nome do cliente" />
                                    <span asp-validation-for="NomeDocliente" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-2 p-0">
                                <div class="form-group">
                                    <input type="text" asp-for="NumeDaMesa" class="form-control" placeholder="Mesa" />
                                    <span asp-validation-for="NumeDaMesa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <select class="form-control" asp-for="NomeDoPrato">
                                        <option value="Atum ao forno"> Atum ao forno </option>
                                        <option value="Coxa de frango com ervas"> Coxa de frango com ervas </option>
                                        <option value="Estrogonofe de carne"> Estrogonofe de carne </option>
                                        <option value="Macarrão com molho de requeijão e maionese"> Macarrão com molho de requeijão e maionese </option>
                                        <option value="Selecionar um  prato"> Selecionar um  prato </option>
                                        <option value="Salada Caesar"> Salada Caesar </option>
                                    </select>
                                    <span asp-validation-for="NomeDoPrato" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2 p-0">
                                <div class="form-group">
                                    <input type="number" asp-for="QuantidadeDePratos" class="form-control" placeholder="Qdt" />
                                    <span asp-validation-for="QuantidadeDePratos" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <select class="form-control" asp-for="NomeDaBabida">
                                        <option value="Coca cola"> Coca cola </option>
                                        <option value="Fanta"> Fanta </option>
                                        <option value="Guarana antarctica"> Guarana antarctica </option>
                                        <option value="Suco de laranja"> Suco de laranja </option>
                                        <option value="Suco de limão"> Suco de limão </option>
                                    </select>
                                    <span asp-validation-for="NomeDaBabida" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2 p-0">
                                <div class="form-group">
                                    <input type="number" asp-for="QuantidaDeBebidas" class="form-control" placeholder="Qdt" />
                                    <span asp-validation-for="QuantidaDeBebidas" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control" asp-for="@Model.CozinhaId" asp-items="@ViewBag.cozinhas">
                                        <option selected> Escolhar Uma Cozinha</option>
                                    </select>
                                    <span asp-validation-for="@Model.CozinhaId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control" asp-for="@Model.CopaId" asp-items="@ViewBag.copas">
                                        <option selected> Escolhar Uma Copa </option>
                                    </select>
                                    <span asp-validation-for="@Model.CopaId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary"> Enviar </button>
                    </div>
                </div>
            </form>
        </div>
        @* Tabela de Pedidos *@
        <div class="col-7">
            <table class="table table-striped table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> # </th>
                        <th scope="col"> Cliente </th>                      
                        <th scope="col"> Prato </th>
                        <th scope="col"> Qtd  </th>
                       
                        <th scope="col"> bebidao </th>
                        <th scope="col"> Qtd </th>

                        <th scope="col"> Desativar </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in ViewBag.pedidos)
                    {
                        if (pedido.Ativo)
                        {
                            <tr>
                                <th> @pedido.Id </th>
                                <th> @pedido.NomeDocliente </th>                               
                                <td> @pedido.NomeDoPrato</td>
                                <td> @pedido.QuantidadeDePratos</td>
                              
                                <td> @pedido.NomeDaBabida</td>
                                <td> @pedido.QuantidaDeBebidas</td>

                                <td>
                                    <form asp-controller="Pedido" asp-action="AlterarPedido" asp-antiforgery="true" method="post">
                                        <input type="hidden" name="id" value="@pedido.Id" />
                                        <button class="btn btn-primary"> <i class="fas fa-pen-square"></i> </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


